html,
body {
  height: 100%;
  margin: 0;
}

body {
  width: 90vw;
  height: 90vh;
  margin: 0 auto; 
}
body {
  background-color: aliceblue;
}

.rembtn {
  width: 80px;
  margin-left: 20px;
  background-color: #9f9c9c;
  margin-top: 180px;
}

#logo {
  width: 90px;
  height: 80px;
}

#pfp {
  margin-top: 8px;
  width: 50px;
  height: 50px;
  margin-left: 4px;
}
.friends {
  height: 420px;
  margin-right: auto;
}

.profile {
  display: flex;
  width: 330px;
  height: 60px;
  justify-content: space-between;
  border-radius: 9px;
  background-color: rgb(121, 121, 168);
}

.requests {
  display: none;
  flex-direction: column;
  gap: 50px;
}

input {
  height: 40px;
  width: 500px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid;
  margin-left: 20px;
  font-family: monospace;
}

h2 {
  width: 609px;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 32px;
}

.chas {
  height: 1150px;
  overflow-y: auto;
  margin-bottom: -70px;
}

.chas::-webkit-scrollbar {
  display: none;
}

.mainchat {
  width: 510px;
  margin: 10px;
  margin-right: 0px;
  display: none;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
}

.friendprofile {
  padding: 1px;
  margin: 10px;
  flex-grow: 1;
}

.no {
  margin-top: 10px;
  padding-top: 15px;
  font-family: monospace;
  font-size: 18px;
  margin-left: 10px;
  color: rgb(23, 60, 79);
}

.yes {
  font-family: serif;
  font-size: 20px;
  margin-left: 10px;
  margin-top: -28px;
  margin-bottom: 15px;
  padding-bottom: 6px;
  width: 350px;
}

/* .frs {
    margin-top: 50px;
    margin-left:42px;
    font-family: monospace;
    color: grey;
    font-size:16px;
} */

h4 {
  padding: 10px;
}

.eachfrs:hover {
  background-color: rgb(175, 165, 165);
}

.hed {
  font-family: "Gill Sans";
}


.walike {
  background-color: rgb(121, 130, 124);
}

/*ok*/

.cont {
  margin-inline: auto;
 
  max-width: 1100px;
  min-width:330px;

  border-left: 1px solid black;
  border-right: 1px solid black;
  display: block;
  height:100vh;
}

.headdd {
  font-family: Verdana, Arial;
  padding-left: 20px;
  width: 100% - 20px;
  margin: 0px;
  height: 50px;
  font-size: 40px;
  display: block;
  background-color: rgb(201, 230, 232);
}

.frs {
  margin-top: 0px;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  padding-bottom: 0px;
  background-color: rgb(126, 126, 130);
  color: white;
  background-color: rgb(121, 121, 168);
  font-family: monospace;
  width: 695px;
  margin-left: 1px;
}

#af,
#req {
  background-color: rgb(121, 121, 168);
  border: none;
  height: 40px;
  line-height: 40px;
  color: white;
  font-size: 20px;
  font-family: monospace;
  transition: background-color 0.3s;
  margin-left: auto;
  width: 190px;
}

#af:hover,
#req:hover {
  background-color: rgb(173, 173, 219);
}

.friends {
  display: flex;
}

nav {
  display: flex;
  height: 40px;
}

.profile {
  display: flex;
  margin-top: 190px;
  border-radius: 0;
}

.usern {
  margin-top: 0px;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  padding-bottom: 0px;
  background-color: rgb(126, 126, 130);
  color: white;
  background-color: rgb(121, 121, 168);
  font-family: monospace;
  width: 720px;
  margin-left: 1px;
}

.settings {
  background: none;
  border: none;
  font-size: 18px;
  color: rgb(225, 217, 217);
  background-color: rgb(121, 121, 168);
  padding-right: 15px;
  margin-top: 9px;
}

.settings:hover {
  background: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}

.friendss {
  display: none;
  flex-direction: column;
}

.frndbtn {
  width: 150px;
  margin-left: 30px;
  font-size: 20px;
  font-family: monospace;
}

input {
  width: 416px;
  height: 44px;
  border: 1px solid black;
  padding-left: 10px;
}
input:focus {
  outline: none;
  border: 1px solid hsl(233.115 calc(1 * 49.194%) 51.373%/1);
}

input:user-invalid {
  outline: none;
  border: 1px solid red;
}

#text {
  font-family: monospace;

  margin-top: 40px;
}

.divs,
.divr {
  display: none;
  flex-direction: column;
  margin-top: 20px;
}



.subh {
  font-family: monospace;
  font-size: 20px;
  margin-top: -25px;
  margin-left: 20px;
  margin-bottom: -30px;
}


.h4 {
  margin-left: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  background-color: rgb(121, 121, 168);
  max-width: 330px;
  flex-grow:1;
}

.can {
  align-self:center;
  width: 70px;
  height: 40px;
  background-color: rgb(204, 165, 165);
}

.can:hover {
  background-color: rgb(162, 153, 153);
}

.acc,
.rej {
  width: 70px;
  background-color: rgb(162, 153, 153);
}



.usern {
  font-family: monospace;
  font-size: 22px;
  flex-grow: 1;
  margin-top: 0px;
  margin-left: 0px;
}

/**/
.leftpane {
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 238, 244);
  width: 330px;
  height: calc(100vh - 93px);
  margin-left: 0px;
  border: 0px;
}

.eachfrs {
  translate: 0px 50px;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  background-color: rgb(185, 171, 171);
  width: 320px;
  height: 30px;
  padding-bottom: 20px;
  line-height: 0px;
}

.chat {
  height: calc(100vh - 120px);


  display: flex;
}

.msgdiv {
  background-color: rgb(207, 204, 200);
  width: 350px;
  padding-right: 25px;
  margin-left: 10px;
  word-break: normal;
  overflow-wrap: break-word;
  white-space: normal;
  font-size: 20px;
}

.time {
  margin-left: 260px;
  margin-top: -60px;
  padding-bottom: 10px;
}

.send {
  display: flex;
}

#sendbox {
  margin-top: 90px;
  width: 310px;
  height: 20px;
  border-radius: 0px;
  margin-bottom: -0px;
  margin-left: 5px;
}

#sendbtn {
  margin-left: 10px;
  margin-bottom: -50px;
  width: 0px;
  height: 0px;
  border-radius: 50px;
  border: none;
  background: none;
  cursor: pointer;
}

#imgsen {
  margin-top: 76px;
  margin-left: -10px;
}

.friendprofile {
  background-color: #ededed;
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  display: none;
  margin-left: -90px;
  height:calc(100vh - 170px);
}

.subcon {
  display: flex;
  height: calc(100vh - 93px);
}

.dir, .dis {
  display:flex;
  width:min(500px, 90vw)
}

@media (max-width: 450px) {
    body {
        margin:0;
    }
    .cont, .profile, .eachfrs, .leftpane {
        width: 100vw;
    }
    .eachfrs {
        width : calc(100vw - 10px);
        align-content:center;
        margin-left:5px;
    }
    .chat {

       position:fixed;
       left:0.5px;
    }
    .friendss{
      position:fixed;
      left:0.5px;

    }
    .requests  {
        position:fixed;
        left:0.5px;
 
    }
    #friendusername{
        width:80vw;
        height:30px;

    }
    .h4 {
         width: 70vw;
    }
    .msgdiv {
      width:345px;
     
    }

}